header, aside, main, footer {
   
}

#container{
    border: 2px rgb(209, 13, 13) solid;
    float: right;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    background-color: rgb(179, 247, 248);
}

header{
    text-align: center;
    width: 98%;
    height: 30%;
    margin: 1%;
}
/*SECTION Y MAIN*/
main{
    float: right;
    
    width: 70%;
    height: 601px;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
section{
    
    width: 30%;
    height: 40%;
    float:right;
    margin: 10px;
    margin-top: 10%;
   
  
    
}

aside{
    
    width: 25%;
    height: 174px;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    clear: left;
    overflow: auto; /*Hacer uso para encajar correctamente las cosas*/
}

footer{
    margin-left: 10px;
    margin: 10px;
    
    width: 97%;
    height: 15%;
    background: red;
    clear: both; /*clear both para limpiar por los lados*/
    
}
